@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
body{

    font-family: "Sora", sans-serif;
}
.ERPCONN::-webkit-scrollbar {
  display: none;
}
.ERPCONN {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
